.btn-show {
  cursor: pointer;
  border:none;
  background-color: rgb(54, 54, 252);
  color:#fff;
  padding:6px 12px;
  border-radius: 5px;
}

.btn-show:active{
  background-color: rgb(101, 101, 248);;
}